@tailwind base;
@tailwind components;
@tailwind utilities;


.error-page {
    background-image: url("/public/mountains.jpg");
    background-repeat: no-repeat;
    filter: sepia(25%);
    background-size: cover;
    
}